.App {
  text-align: center;
  vertical-align: bottom;
  background-color: #282c34;
  color: white;
  
  /* font-size: 16px; */
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  /* color: white; */
  padding: 0 5%;
}
h1, h2 {
  text-align: center;
}
input {
  margin-right: 1rem;
  width: 3rem;
  height: 1.4rem;
  font-size: 1rem;
  text-align: center;
}
select {
  height: 1.6rem;
  margin-right: 1rem;
}

button {
  /* font-size: 1rem; */
  text-align: center;
  margin-right: 0.8rem;
  height: 1.6rem;
  width: 4rem;
  font-size: 0.8rem;
 
}


li {
  display: flex;
  height: 2.5rem;
  margin: 0 auto;
 justify-items: auto;
  height: 2.2rem;
}
ul {
  list-style: none;
  display: grid;

margin-bottom: 1rem;
}
/* .power input {
  margin-right: 1rem;
} */
.input {
  display: flex;
}


li span {
  margin-right: 1rem;
}

.green {
  color: green;
  margin-top: 0.5rem;
  /* padding: 2rem; */
}
.el--Name {
  width: 12rem;
}

.App-link {
  color: #61dafb;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@media only screen and (min-width: 768px) {
  .App-header {
    display: grid;
    text-align: left;
  }
 ul {
  display: block;
 }
}