.App {
  text-align: center;
  
  /* font-size: 16px; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
  padding: 0 20px;
}

input {
  margin-right: 1rem;
  width: 3rem;
  height: 1.3rem;
  font-size: 1rem;
  text-align: center;
}

button {

  /* height: 1rem; */
  font-size: 1rem;
  /* border-radius: 10px; */
  text-align: center;
  margin: 1rem 0.5rem;
}

.element {
  height: 2.2rem;
}

.all-power button {
  height: 1.5rem;
  font-size: 0.8rem;


}

.element {
  margin-bottom: 0;
}

.el--Name {
  width: 12rem;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */